asgiref==3.9.1
diff-match-patch==20241021
Django==5.2.6
django-cors-headers==4.8.0
django-import-export==4.3.9
django-modeltranslation==0.19.17
django-unfold==0.65.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
pillow==11.3.0
PyJWT==2.10.1
sqlparse==0.5.3
tablib==3.8.0
